* {
  margin: 0;
}

body {
  background-image: url('./images/background-image.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trybe {
  margin-bottom: 60px;
}